{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="addFormAdminSave">
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}
