{% extends 'layout.html.twig' %}

{% block title %}Termes d'utilisation{% endblock %}

{% block body %}
    <h1 class="title container-content">Termes d'utilisation</h1>
    <div class="container mb-5">
        <p class="m-auto w-75">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto delectus, ducimus eligendi
            explicabo facilis fugiat id molestias natus nobis odio repellat repellendus rerum sapiente sequi similique,
            sit suscipit vitae?</span><span>Dolorum enim fuga id quidem, recusandae reprehenderit. Accusamus autem
            distinctio doloremque ducimus fuga ipsum magnam mollitia nisi omnis veritatis! Aliquid doloremque est
            facilis id modi molestiae officia praesentium sequi voluptates?</span><span>Aliquam dignissimos et expedita
            repellat sapiente! Ab animi error minima non perferendis provident voluptas? Architecto consequuntur
            dolores mollitia placeat sapiente sed! Asperiores cumque ex illum impedit nostrum officiis placeat
            tempore!</span>
        </p>
    </div>
{% endblock %}
