<div class="container-fluid container-title">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">
            <h1 class="title">Concrè&shy;tement ? <span class="smaller-title">Quelques exemples de mission</span>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <p>
        Vous avez un projet à piloter ? Nous organisons et animons les réunions et les ateliers de
        travail de ce projet. Nous nous chargeons de rédiger et diffuser les supports en interne.
        Nous gérons le suivi par des points de situation réguliers et ce jusqu’à la phase finale.
    </p>
    <p>
        Vous n’avez pas de fonction RH ? Nous vous accompagnons sur la rédaction des supports
        d’entretien, leur réalisation, la définition des rémunérations variables. Nous mettons en
        place des outils de fidélisation des salariés, établissons le plan de formation...
    <p>
    <p>
        Vous vous implantez sur un nouveau marché ? Nous assurons la mise au point du discours
        commercial et formons les équipes à l’utiliser, nous nous chargeons du plan de
        communication, de l’ajustement de la rémunération des commerciaux, de la réévaluation des
        objectifs...
    </p>
</div>
