{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid container-title">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xs-1">
                <h1 class="title">Nos engagements</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 picture-align">
                    <img src="https://via.placeholder.com/350" class="card-img picture" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            Nous acceptons seulement les missions qui entrent dans notre champ de compétences.
                            Toute proposition d’accompagnement fait l’objet d’un audit préalable, garantissant ainsi
                            des prestations « sur-mesure ». Pour les actions relatives à la formation professionnelle,
                            chaque proposition fait l’objet d’un programme.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            À n’importe quel moment de votre vie d’entrepreneur, dès lors que vous souhaitez vous
                            concentrer sur
                            votre métier principal, et déléguer dans un ou plusieurs domaines les fonctions
                            transverses.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 picture-align">
                    <img src="https://via.placeholder.com/350" class="card-img picture" alt="...">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 picture-align">
                    <img src="https://via.placeholder.com/350" class="card-img picture" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            À n’importe quel moment de votre vie d’entrepreneur, dès lors que vous souhaitez vous
                            concentrer sur
                            votre métier principal, et déléguer dans un ou plusieurs domaines les fonctions
                            transverses.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            À n’importe quel moment de votre vie d’entrepreneur, dès lors que vous souhaitez vous
                            concentrer sur
                            votre métier principal, et déléguer dans un ou plusieurs domaines les fonctions
                            transverses.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 picture-align">
                    <img src="https://via.placeholder.com/350" class="card-img picture" alt="...">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 picture-align">
                    <img src="https://via.placeholder.com/350" class="card-img picture" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            À n’importe quel moment de votre vie d’entrepreneur, dès lors que vous souhaitez vous
                            concentrer sur
                            votre métier principal, et déléguer dans un ou plusieurs domaines les fonctions
                            transverses.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}