<div class="container-fluid">
    <div class="row">
        {% for partner in partners %}
            <a href="{{ partner.link }}">
                {% if partner.filenamePartner %}
                    <img src="{{ vich_uploader_asset(partner, 'partnerFile') }}" alt="partner article"
                         class="img-partner">
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>
