<div class="container-fluid">

    {% for partner in partners %}
        <a href="{{ partner.link }}">
            <img src="{{ partner.logo }}" alt="Logo de l'entreprise {{ partner.name }}">
        </a>
    {% endfor %}

</div>