{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xs-1">
                <h1 class="title">Quand faire appel à Syn'ops ?</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 picture-align">
                    <img src="https://via.placeholder.com/350" class="card-img rounded-circle picture" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            À n’importe quel moment de votre vie d’entrepreneur, dès lors que vous souhaitez vous
                            concentrer sur
                            votre métier principal, et déléguer dans un ou plusieurs domaines les fonctions
                            transverses.
                        </p>
                        <p class="card-text">
                            Lors d’un développement, d’une structuration ou d’un changement ponctuel dans votre
                            organisation.
                        </p>
                        <p class="card-text">
                            Dans le cadre d’un projet précis ou à préciser.
                        </p>
                        <p class="card-text">
                            Lors d’un pic ponctuel d’activité qui ne nécessite pas forcément une embauche.
                        </p>
                        <p class="card-text">
                            Avant de reprendre, transmettre ou céder de votre entreprise.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}