{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid container-title">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xs-1">
                <h1 class="title">Concrètement ? Quelques exemples de mission</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">

                <div class="col-md-8">
                    <div class="card-body">
                        <p>
                            Vous avez un projet à piloter ? nous organisons et animons les réunions et les ateliers de
                            travail de ce projet. Nous nous chargeons de rédiger et diffuser les supports en interne.
                            Nous gérons le suivi par des points de situation réguliers et ce jusqu’à la phase finale.
                        </p>
                        <p>
                            Vous n’avez pas de fonction RH ? nous vous accompagnons sur la rédaction des supports
                            d’entretiens, leurs réalisations, la définition des rémunérations variables. Nous mettons en
                            place des outils de fidélisation des salariés, établissons le plan de formation...
                        <p>
                        <p>
                            Vous vous implantez sur un nouveau marché ? nous assurons la mise au point du discours
                            commercial et formons les équipes à l’utiliser, nous nous chargeons du plan de
                            communication, de l’ajustement de la rémunération des commerciaux, de la réévaluation des
                            objectifs...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}