{% extends 'layout.html.twig' %}

{% block body %}
    <section class="call">
        {% include 'home/call.html.twig' %}
    </section>

    <section class="concretely">
        {% include 'home/concretely.html.twig' %}
    </section>

    <!--include adn-->

    <section class="engagements">
        {% include 'home/engagements.html.twig' %}
    </section>
{% endblock %}