{% extends 'layout.html.twig' %}

{% block body %}

    {% include 'home/_carousel.html.twig' %}

    <section class="call">
        {% include 'home/_call.html.twig' %}
    </section>

    <section class="concretely">
        {% include 'home/_concretely.html.twig' %}
    </section>

    <section class="adn">
        {% include 'home/_adn.html.twig' %}
    </section>

    <section class="engagements">
        {% include 'home/_engagements.html.twig' %}
    </section>

<<<<<<< HEAD
    <section class="offres">
        {% include 'home/offres.html.twig' %}
    </section>


{% endblock %}
=======
    <section class="team">
        {% include 'home/_team.html.twig' %}
    </section>

{% endblock %}
>>>>>>> 20f0dc6e04fb406e0ddde5440d7cedc0ed2b469e
