{% extends 'layout.html.twig' %}

{% block title %}Syn'ops{% endblock %}

{% block body %}

    {% include 'home/_carousel.html.twig' %}

    {% include '_backToTop.html.twig' %}

    {% if is_granted("ROLE_ADMIN") %}
        <div class="container-fluid w-100 d-flex justify-content-center">
            <a href="{{ path('admin_index') }}" class="btn btn-warm-color">
                Panneau d'administration
            </a>
        </div>

    {% endif %}

    <section class="articles mb-5">
        {% include 'home/_article.html.twig' %}
    </section>

    <section class="call mb-5">
        {% include 'home/_call.html.twig' %}
    </section>

    <section class="concretely mb-5">
        {% include 'home/_concretely.html.twig' %}
    </section>

    <section class="adn mb-5">
        {% include 'home/_adn.html.twig' %}
    </section>

    <section class="engagements mb-5">
        {% include 'home/_engagements.html.twig' %}
    </section>

    <section class="deal mb-5" id="offre">
        {% include 'home/_deal.html.twig' %}
    </section>

    <section class="team mb-5" id="equipe">
        {% include 'home/_team.html.twig' %}
    </section>

    <section class="partners mb-5">
        {% include 'home/_partners.html.twig' %}
    </section>

{% endblock %}

