{% extends 'layout.html.twig' %}

{% block body %}
    <section class="call">
        {% include 'home/_call.html.twig' %}
    </section>

    <section class="concretely">
        {% include 'home/_concretely.html.twig' %}
    </section>

    <section class="adn">
        {% include 'home/_adn.html.twig' %}
    </section>
{% endblock %}

