<div class="dropdown">
    {% for category in categories %}
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{category.sector}}
    </button>
    {% endfor %}


    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"></a>
    </div>

</div>