{% for category in categories %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{category.sector}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for tool in category.tools %}
             <a class="dropdown-item" href="#">{{tool.name}}</a>
        {% endfor %}
     </div>
</div>
{% endfor %}