{% extends 'base.html.twig' %}

{% block title %}New Partner{% endblock %}

{% block body %}
    <h1 class="title">Ajouter un Partenaire</h1>
    <div class="container">

        {{ include('partner/_form.html.twig') }}

        <a href="{{ path('partner_index') }}">back to list</a>
    </div>
{% endblock %}
