.articles {

    .btn {
        background-color: $warm-color;
        text-decoration: none;
    }

    p {
        line-height: 30px;
    }

    .date {
        font-style: italic;
        text-align: right;
        color: $primary-color;
    }

    .card {
        margin-top: 2rem;
        width: 30rem;
    }

    .card-img-top {
        height: 20rem;
        object-fit: cover;
    }

    .card-title {
        margin-top: 1em;
        font-size: 2em;
        color: $primary-color;
        font-weight: bold;
    }

    .all-articles {
        text-align: center;
    }

    p {
        img {
            display: none;
        }
    }
}

.badge {
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
    background-color: $primary-color;
    color: $light-color;
}

.section-color {
    text-align: right;
    height: 2.8rem;
    width: 2.8rem;
    filter: grayscale(0);
}

.pagination {
    margin: 2rem;

    .buttons {
        .btn {
            width: 8rem;
        }
    }
}

.btn-inactive {
    background-color: $secondary-color;
    color: $light-color;
    cursor: default;
    border: none;
}

.btn-inactive:hover {
    color: $light-color;
}


