.articles {

    .btn {
        background-color: $warm-color;
        text-decoration: none;
    }

    h5 {
        margin-top: 1em;
        font-size: 2em;
        color: $primary-color;
        font-weight: bold;
    }

    p {
        line-height: 30px;
    }

    .date {
        font-style: italic;
        margin-left: 11em;
        color: $primary-color;
    }

    .card {
        margin-top:2rem;
    }

    .btn btn-dark {
        background-color: $secondary-color;
    }
}

.all-articles {
    display:flex;
    justify-content:center;
}
