.articles {

    .btn {
        background-color: $warm-color;
        text-decoration: none;
    }

    .card-title {
        margin-top: 1em;
        font-size: 2em;
        color: $primary-color;
        font-weight: bold;
    }

    p {
        line-height: 30px;
    }

    .date {
        font-style: italic;
        text-align: right;
        color: $primary-color;
    }

    .card {
        margin-top: 2rem;
        width: 30rem;
    }

    .btn btn-dark {
        background-color: $secondary-color;
    }

    .all-articles {
        text-align: center;
    }

    p {
        img {
            display: none;
        }
    }
}

.pagination {
    margin: 2rem;

    .buttons {
        .btn {
            width:8rem;
        }
    }
}

.btn-inactive {
    background-color: $secondary-color;
    color:$light-color;
    cursor: default;
    border:none;
}

.btn-inactive:hover {
    color:$light-color;
}


