.engagements {
    .card {
        border: none;
    }

    .col-md-8 {
        display: flex;
        align-items: center;
    }
}

.engagement-title {
        color:$light-color;
        z-index: 99;
}

@media screen and (max-width: 768px) {
    .picture-align {
        order: -1
    }
}