.partners {

    .row {
        justify-content: center;
    }

    img {
        height:8rem;
        margin:3rem;
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}