.team-card {
    width: 43rem;
    max-width: 90%;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 5vw;
}

.team-name {
    color: $primary-color;
    font-size: 38pt;
    text-align: center;
}

.team-container {
    padding: 0;
}

.team-square {
    height: 200px;
    width: 200px;
    position: relative;
    right: 50px;
    bottom: 30px;
}

.profile-picture {
    position: absolute;
    object-position: 0px -55px;
}
