.sticky-top {
    padding-top: 1rem;
    top: calc(100vh - 100px);
    width: 5%;
    float: right;
}

$circle-size: 3rem;

.circle {
    background-color: $light-color;
    width: $circle-size;
    height: $circle-size;
    text-align:center;
}

