$theme-colors: (
    "primary": #183D58,
    "secondary": #4F4D4E,
    "warm-color": #F4B416,
);
$primary-color: #183D58;
$secondary-color: #4F4D4E;
$nav-hover-color: #c2bdc0;
$warm-color: #F4B416;
$light-color: #ffffff;

$nav-background-color: rgba(79, 77, 78, 0.61);

$title-size: 3rem;
$primary-font-size: 16pt;
