$theme-colors: (
    "primary": #183D58,
    "secondary": #4F4D4E,
    "warm-color": #F4B416,
    "success": #296491,
);
$primary-color: #183D58;
$secondary-color: #4F4D4E;
$nav-hover-color: #ccc6ca;
$warm-color: #F4B416;
$light-color: #ffffff;
$background-comment: #f0eeef;

$nav-background-color: rgb(20, 43, 64);

$title-size: 3rem;
$primary-font-size: 16pt;
