@import "admin/index";
@import "admin/admin_partners";
@import "admin/admin_tool";
@import "admin/admin_article";
@import "admin/admin_members";

.admin-container {
    .btn-light {
        background-color: $secondary-color;
        color: $light-color;
        margin-bottom: 3rem;
    }

    .btn-light:hover {
        background-color: lighten($secondary-color, 20%);
    }

    .btn-success {
        background-color: $warm-color;
        color: darken($secondary-color, 20%);
        border: 0;
    }

    .btn-success:hover {
        background-color: lighten($warm-color, 20%);
    }

    img {
        height: 10rem;
        display: block;
    }

    .btn {
        width: max-content;
    }
}

.container-content {
    margin-top: 12rem;
}
