@import "vars";

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~rfs/scss";


@import "navbar_style";
@import "carousel";
@import "footer";
@import "article";
@import "login";
@import "register";

@import "home";
@import "admin";
@import "contact";

body {

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: $primary-font-size;
        text-align: justify;
    }
}

a:focus, img:focus {
    outline: 0;
}

.btn-primary {
    background-color: $primary-color;
    border: 0;
}

.btn-primary:hover {
    background-color: lighten($primary-color, 20%);
}
