@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "home";

body {
  p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: $primary-font-size;
    text-align: justify;
  }
}
