footer {
    background-color: #4F4D4E;
    width: 100%;
    height: 50%;
}

address {
    text-align: center;
}

.row {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0;
    border-bottom: solid 1px white;
}
