footer {
  background-color: #4F4D4E;
  width: 100%;
  height: 50%;
}
address {
  text-align: center;
  line-height: 1.1;
}
.row {
  padding: 50px;
}
p {
  text-align: center;
}
img {
  width:2px;
  }
