@import "home/call";
@import "home/concretely";
@import "home/engagements";

.title {
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-color;
    color: $light-color;
    max-width: max-content;
    text-transform: uppercase;
    padding: 0.5em;
    padding-left: 3em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: $title-size;
}

.container-title {
    padding-left: 0;
    margin-left: 0;
}

@media only screen and (max-width: 600px) {
    .title {
        text-align: center;
        width: 100%;
        padding: 0.5rem;
        hyphens: manual;
    }
}
