@import "home/call";

.title {
  display: flex;
  flex-wrap: wrap;
  background-color: $primary-color;
  color: #ffffff;
  max-width: max-content;
  text-transform: uppercase;
  padding: 0.5em;
  padding-left: 3em;
  margin-bottom: 1.5em;
  font-size: $title-size;
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
  }

}