.background-login {
    background-image: url("../images/bateau.webp");
    height: 50rem;
    background-size: cover;
    background-attachment:fixed;
}

.login-index {
    padding-top: 5vw;
}

.login-form {
    max-width: 40rem;
}