.navbar-brand {
    padding: 0.4rem;
}

.nav-link {
    @include font-size(26px);
    color: $light-color;
}

.logo-fb, .logo-in {
    @include font-size(36px);
    padding: 10px;
}

.nav-link:hover {
    color: $nav-hover-color;
}

.logo-navbar {
    height: 8vw;
    width: 8vw;
}

.custom-toggler.navbar-toggler {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(237, 181, 45)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    height: calc(3rem + 3.3vw);
    width: calc(3rem + 3.3vw);
}

.navbar-toggler {
    border-color: $warm-color;
}

.navbar {
    padding: 0;
    background-color: $nav-background-color;
}

.dropdown-menu {
    margin: 0;
    background-color: $nav-background-color;
}

.dropdown-item {
    @include font-size(25px);
    color: $light-color;
}

.dropdown-item:hover {
    background-color: transparent;
    color: $nav-hover-color;
}

.navbar-toggler:focus {
    outline: 0;
}

@media screen and (min-width: 992px) {

    //Hover Effect

    .nav-effect {
        position: relative;
    }

    .nav-effect::before, .nav-effect::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: $warm-color;
        transform: scaleX(0);
        transition: transform 0.5s ease;
    }

    .nav-effect::before {
        top: 0;
        transform-origin: center right;
    }

    .nav-effect:hover::before {
        transform-origin: center left;
        transform: scaleX(1);
    }

    .nav-effect::after {
        bottom: 0;
        transform-origin: center left;
    }

    .nav-effect:hover::after {
        transform-origin: center right;
        transform: scaleX(1);
    }
}
