{% extends 'layout_admin.html.twig' %}

{% block body %}
    <div class="index-admin">
        <h2>admin</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores, est facilis molestias nesciunt pariatur
        sunt. Ab expedita illum impedit incidunt ipsam iure laboriosam magni non odit perspiciatis, repellendus
        sapiente?
    </div>
{% endblock %}