<form method="post" action="{{ path('tool_delete', {'id': tool.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tool.id) }}">
    <button class="btn text-danger"><i class="fas fa-trash"></i></button>
</form>
