{% extends 'layout_admin.html.twig' %}

{% block title %}Éditer un outil{% endblock %}

{% block body %}
    <div class="container-content">
        <h1 class="title">Éditer un outil</h1>

        <div class="container mb-5">
            <a href="{{ path('tool_index') }}">
                <button class="btn btn-secondary">Retour aux outils</button>
            </a>
        </div>

        <div class="container adminUpdateButton">
            {{ include('tool/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        </div>
    </div>
{% endblock %}
