{% extends 'layout_admin.html.twig' %}

{% block title %}Éditer un outil{% endblock %}

{% block body %}
    <div class="container-content">
        <h1>Éditer un outil</h1>

        <div class="container mb-5">
            <a href="{{ path('tool_index') }}">
                <button class="btn btn-secondary">Retour aux outils</button>
            </a>
        </div>

        <div class="container">
            {{ include('tool/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('tool/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
