{% extends 'layout.html.twig' %}

{% block title %}Boîte à outils{% endblock %}

{% block body %}

    <h1 class="title container-content">{{ category.sector }}</h1>

    {% for tool in category.tools %}
        <h2>{{ tool.name }}</h2>
    {% endfor %}

{% endblock %}