{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier un membre{% endblock %}

{% block body %}
    <div class="container-content">

        <h1 class="title">Modifier un membre</h1>

        <div class="container admin-container">

            <a href="{{ path('team_index') }}">
                <button type="button" class="btn btn-secondary mb-4"><i class="fas fa-reply mr-2"></i> Revenir à la page de
                    l'équipe
                </button>
            </a>

            {{ include('admin_team/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
