{% extends 'layout_admin.html.twig' %}

{% block title %}Modifier une section{% endblock %}

{% block body %}
    <div class="container-content admin-container">
        <h1 class="title">Modifier une section</h1>
        <div class="container mb-5">
            <a href="{{ path('section_index') }}">
                <button class="btn btn-secondary"><i class="fas fa-reply mr-2"></i> Retour aux sections</button>
            </a>
        </div>

        <div class="container">
            {{ include('admin_section/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
