.show-article {
    .card-img-top {
        max-height: 70rem;
        object-fit: cover;
    }

    .container {
        .card {
            border: none;
        }
    }
}

.btn-retour {
    display: flex;
    justify-content: center
}
