.background-register {
    background-image: url("../../images/bateau.webp");
    height: 50rem;
    background-size: cover;
    background-attachment:fixed;
}

.register-index {
    padding-top: 5vw;
}

.register-form {
    max-width: 40rem;
}
