.background-register {
    background-image: url("../../images/bateau.webp");
    background-size: cover;
    background-attachment:fixed;
    padding-bottom: 5rem;
}

.register-index {
    padding-top: 5vw;
}

.register-form {
    max-width: 40rem;
}

.gdpr {
    font-size: 8pt;
    font-style: italic;
    text-align: justify;
    margin: 1rem;
}
