.tools {
    width: 80%;

    .card-body {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

.icon {
    align-self: center;
}

.title-comment {
    border-left: 5px solid $warm-color;
}

.comments {
    border-bottom: 3px solid $primary-color;
}

.comment {
    background-color: $background-comment;
    overflow: auto;
}

.author-infos {
    font-size: 1.3rem;
    color: $secondary-color;
}

.access-denied {
    width: 90%;
    background-color: $primary-color;
    color: $light-color;
    box-shadow: -15px -15px $warm-color;
    border-radius:calc(0.25rem - 1px);

    p {
        text-align: center;
    }
}
