<div id="top"></div>

<div class="sticky-top d-flex justify-content-end mr-2">
    <div class="circle rounded-circle">
        <a href="#top">
            <i class="fas fa-angle-up fa-3x"></i>
        </a>
    </div>
</div>
