<nav class="navbar navbar-expand-sm fixed-top">

    <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">
        <a class="navbar-brand" href="#">
            <img src="/images/LOGO_CARRE_BLANC.png" class="logo-navbar d-inline-block align-middle" alt="logo synops">
        </a>

        <ul class="navbar-nav d-flex justify-content-around w-100">
            <li class="nav-item">
                <a href="#" class="nav-link">NOTRE OFFRE</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">ESPACE CLIENT</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown" data-toggle="dropdown"
                   data-target="dropdown_target">BOITE À OUTILS</a>
                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                    <a href="" class="dropdown-item">Conduite et gestion de projets</a>
                    <div class="dropdown-divider"></div>
                    <a href="" class="dropdown-item">Accompagnement RH</a>
                    <div class="dropdown-divider"></div>
                    <a href="" class="dropdown-item">Marketing & communication</a>
                    <div class="dropdown-divider"></div>
                    <a href="" class="dropdown-item">Appui commercial</a>
                    <div class="dropdown-divider"></div>
                    <a href="" class="dropdown-item">Formation</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">L'ÉQUIPE</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">CONNEXION</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">F</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">In</a>
            </li>
        </ul>

    </div>
    {#    <a class="nav-item nav-link" href="#">NOTRE OFFRE</a>#}
    {#    <a class="nav-item nav-link" href="#">ESPACE CLIENT</a>#}
    {#    <a class="nav-item nav-link" href="#">L'ÉQUIPE</a>#}
</nav>

<h1 style="background-color: #0f6674">Limite du contenu</h1>

<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
<p>Contenu</p><br>
