.admin-articles {

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-secret {
        display: none;
    }

    .btn-primary {
        width: max-content;
    }

    .btn-danger {
        width: max-content;
    }

    .img-article {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
    }
}

.admin-list-article {
    .date {
        font-style: italic;
        text-align: right;
        color: $primary-color;
    }

    .card {
        margin-top: 2rem;
        width: 30rem;
    }

    .card-img-top {
        height: 20rem;
        object-fit: cover;
    }

    .card-title {
        margin-top: 1em;
        font-size: 2em;
        color: $primary-color;
        font-weight: bold;
    }

    p {
        line-height: 30px;
    }
}
