.admin-articles {

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-secret {
        display: none;
    }

    .btn-primary {
        width: max-content;
    }

    .btn-danger {
        width: max-content;
    }

    .img-article {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
    }
}
