.admin-tool {
    .category_button {
        border-left: solid 5px $warm-color;
        padding-left: 1rem;
        letter-spacing: 0.2rem;
        text-align: start;
    }

    .card {
        border: none;
        width: 75%;
    }

    .card_button {
        background-color: $light-color;
    }

    .btn-link {
        color: $secondary-color;
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
    }

    .btn-link:hover {
        text-decoration: none;
        color: $primary-color;
    }

    .card-body {
        width: 100%;
        font-size: $primary-font-size;
    }

    .fa-chevron-down:hover, .fa-chevron-up:hover {
        color: $warm-color;
    }

    h2 {
        font-size: calc(22px + 6 * ((100vw - 320px) / 700));
    }

    h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    button[aria-expanded=true] .fa-chevron-down {
        display: none;
    }

    button[aria-expanded=false] .fa-chevron-up {
        display: none;
    }

    .pointer {
        cursor: pointer;
    }

    .card-tool {
        border-bottom: solid 1px lighten($secondary-color, 55%);
        color: $secondary-color;
    }

    .card-tool:hover {
        border: none;
        color: $primary-color;
        background-color: lighten($secondary-color, 65%);
    }
}

.documents {
    display: flex;
    flex-direction: column;

    .btn-primary {
        width: fit-content;
    }

    .buttons {
        width: max-content;
        border-bottom: solid 1px lighten($secondary-color, 45%);
    }

    .card-head {
        display: flex;
        align-items: center;
    }

    .card-title {
        border-left: $primary-color 4px solid;
        padding-left: 1rem;
    }
}
