{% extends 'layout.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1 class="title container-content">Modifier mon profil</h1>

    <div class="container customer-space">
        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

        <div class="button">
            <a href="{{ path('customer_space') }}" class="btn btn-secondary align-items-center">
                Retour à l'espace membre
            </a>
        </div>

    </div>

{% endblock %}
